aiohttp==3.9.5
fastapi==0.111.0
gunicorn==22.0.0
httpx==0.27.0
mistralai==0.4.1
nltk==3.6.2
numpy==1.26.4
openai==0.27.0
pandas==2.2.2
pydantic==2.7.4
pymongo==3.12.0
python-dotenv==0.19.0
python-multipart==0.0.9
requests==2.32.3
scikit-learn==1.5.0
torch==2.3.1
transformers==4.42.3
uvicorn==0.30.1